.products-title {
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  color: #212121;
  text-transform: uppercase;
  text-align: center;
  padding: 2rem 0;
}

.item-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
  padding: 0 1.5rem;
}
